@charset "utf-8";
/* CSS Document */
.cod
{
  border: 1px solid #DBE1EB;
  font-size: 14px;
  /*font-family: Arial, Verdana;*/
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  height:30px;
  width:70px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
			
}
/* Inicio de los Objetos Text */
.desc
{
  border: 1px solid #DBE1EB;
  font-size: 14px;
  /*font-family: Arial, Verdana;*/
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  height:30px;
  width:200px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
			
}

.desc:focus
  {
  color: #FFFFFF;
  background: #16D0F5;
  font-weight: bold;
  border-color: #FBFFAD;
  }
  
  .desc_dir
{
  border: 1px solid #DBE1EB;
  font-size: 14px;
  /*font-family: Arial, Verdana;*/
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  height:30px;
  width:500px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
			
}

.desc_dir:focus
  {
  color: #FFFFFF;
  background: #16D0F5;
  font-weight: bold;
  border-color: #FBFFAD;
  }
/* Fin de Classe de Objetos Text */

.f_creacion
{
  border: 1px solid #DBE1EB;
  font-size: 14px;
  /*font-family: Arial, Verdana;*/
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  height:30px;
  width:80px;
  background: #FFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
			
}

.dto
{
  border: 1px solid #DBE1EB;
  font-size: 14px;
  /*font-family: Arial, Verdana;*/
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  height:25px;
  width:35px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
			
}

.combo_1
{
  border: 1px solid #DBE1EB;
  font-size: 14px;
  /*font-family: Arial, Verdana;*/
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  height:30px;
  width:90px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
			
}

.usuario
{
  border: 1px solid #DBE1EB;
  font-size: 14px;
  /*font-family: Arial, Verdana;*/
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  height:30px;
  width:110px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
			
}

/* Inicio de los Combobox */
.combo
{
  border: 1px solid #DBE1EB;
  font-size: 14px;
  /*font-family: Arial, Verdana;*/
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  height:30px;
  width:180px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
			
}

/* Fin de Clases de los Combobox */
/* Para Controles Varios */
.num
{
  border: 1px solid #DBE1EB;
  font-size: 14px;
  /*font-family: Arial, Verdana;*/
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  height:30px;
  width:80px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
			
}

.num:focus
  {
  color: #2E3133;
  background: #16D0F5;
  border-color: #FBFFAD;
  }
/* Fin de CSS de los Muneros */ 

.coord
{
  border: 1px solid #DBE1EB;
  font-size: 14px;
  /*font-family: Arial, Verdana;*/
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  height:30px;
  width:100px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
			
}

.coord:focus
  {
  color: #2E3133;
  background: #16D0F5;
  border-color: #FBFFAD;
  }
  
  
/* Para las Tablas */
.td_1
{
	width:125px;
	padding-left:10px;
}

.td_2
{
	width:100px;
	padding-left:10px;
}

.td_3
{
	width:60px;
	padding-left:3px;
}

#boton
{
	background-color:#3c8dbc;
	
}

#boton:hover
{
	background-color:#0C9;
}

.textbox
  {
  border: 1px solid #DBE1EB;
  font-size: 16px;
  font-family: Arial, Verdana;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  height:80px;
  width:530px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
  }

  .textbox:focus
  {
  color: #2E3133;
  border-color: #FBFFAD;
  }
  
  .sub_total_c
{
  border: 1px solid #DBE1EB;
  font-size: 14px;
  /*font-family: Arial, Verdana;*/
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  height:30px;
  width:65px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
  
}

.sub_total_c:focus
  {
  color: #2E3133;
  background: #16D0F5;
  border-color: #FBFFAD;
  }
  
 .total_c
{
  border: 1px solid #DBE1EB;
  font-size: 18px;
  /*font-family: Arial, Verdana;*/
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  height:35px;
  width:65px;
  background: #FFFFFF;
  background: linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -moz-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -webkit-linear-gradient(left, #FFFFFF, #F7F9FA);
  background: -o-linear-gradient(left, #FFFFFF, #F7F9FA);
  color: #2E3133;
  
} 
