#alert_error
{
	border-color:#0C0;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
	padding-top: 15px;
	padding-left: 35px;
	width :400px;
	height:68px;
	border-radius:5px;
	box-shadow:2px 2px 2px black;
	display: none;
	font-size: 16px;
        font-weight: bold;
}

#alert_success
{
	border-color:#0C0;
	color: #2E3133;
	background-color: #4d9200;
	border-color: #ebccd1;
	padding-top: 15px;
	padding-left: 35px;
	width :400px;
	height:68px;
	border-radius:5px;
	box-shadow:2px 2px 2px black;
	display: none;
	font-size: 16px;
  font-weight: bold;
}

#alert_error hr {
  border-top-color: #e4b9c0;
}

.text-error{
	  color:#F00;
}
.text-correcto{
	  color:#0C0;
}
.invisible{
	display: none;
}

#username 
{
	width:370px;
}

.boton_2
{
	background-color:#09F;
	color:#00000;
	border-radius:3px;
	border-color:#09F;
	height:30px;
	width:100px;
	
}

.boton_2:hover
{
	background-color:#0F6;
	color:#999;
	border-radius:3px;
	height:30px;
	width:100px;
	border:0px;
}
